@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('./assets/fonts/nunito-sans/files/nunito-sans-all-700-normal.woff')
		format('woff');
}
