@import './lib.scss';

#main {
	position: relative;
	width: 1000px;
	height: 600px;
	background: white;
	border-radius: 50px;

	box-shadow: 0px 22px 80px rgba(0, 0, 0, 0.07),
		0px 9.99091px 33.4221px rgba(0, 0, 0, 0.0503198),
		0px 5.45393px 17.869px rgba(0, 0, 0, 0.0417275),
		0px 3.05174px 10.0172px rgba(0, 0, 0, 0.035),
		0px 1.59022px 5.32008px rgba(0, 0, 0, 0.0282725),
		0px 0.639341px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.container {
	@include flexCenter;

	width: 1160px;
	height: 760px;
}

.close {
	position: absolute;
	top: 27px;
	right: 31px;
}

.logo {
	position: absolute;
	left: 37px;
	top: 26px;
}

.watermark {
	position: absolute;
	left: 284px;
	top: 37px;
}

.illustration {
	position: absolute;
	left: 34px;
	top: 237px;
}

.mainHeading {
	position: absolute;
	top: 145px;
	right: calc(124px - 80px);

	text-shadow: 0px 100px 80px rgba(108, 99, 254, 0.07),
		0px 41.7776px 33.4221px rgba(108, 99, 254, 0.0503198),
		0px 22.3363px 17.869px rgba(108, 99, 254, 0.0417275),
		0px 12.5216px 10.0172px rgba(108, 99, 254, 0.035),
		0px 6.6501px 5.32008px rgba(108, 99, 254, 0.0282725),
		0px 2.76726px 2.21381px rgba(108, 99, 254, 0.0196802);
}
